.img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: bottom 30% center;
    background-size: cover;
    background-image: url('../assets/cover_us.avif');
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}