.animation-wrapper {
    width: 400px;
    /* padding-bottom: 50%; */
}

.sphere-animation {
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 380px !important;
    height: 380px !important;
    margin: -290px 0 0 -290px; */
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: .4px;

    stroke: rgba(80, 80, 80, .35);
    backface-visibility: hidden;
}

/* @media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
} */


@media (max-width: 1440px) {
    .animation-wrapper {
        width: 300px;
    }

}

@media (max-width: 768px) {
    .animation-wrapper {
        width: 400px;
    }

}

@media (max-width: 512px) {
    .animation-wrapper {
        width: 320px;
    }

}