.footer-links ul li:not(:last-child) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        right: -15px;
        background-color: #b88a18;

    }

    @media (max-width: 768px) {
        &::before {
            display: none;
        }
    }
}