.header__ {
    background-size: contain;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 30%, rgba(237, 221, 83, 0) 60%);
}

.header__ a:not(.logo__) {
    font-size: 12px;
}

body[dir=rtl] .header__ a:not(.logo__) {
    font-size: 18px !important;
}

.header_menu {
    font-size: 12px !important;

}

body[dir=rtl] .header_menu {
    font-size: 18px !important;

}

.two {
    background: rgba(0, 0, 0, 0.808);
    /* transform: translateY(-130px) !important;
    -webkit-transform: translateY(-130px) !important;
    -moz-transform: translateY(-130px) !important;
    -ms-transform: translateY(-130px) !important;
    -o-transform: translateY(-130px) !important; */
}




@media (max-width: 768px) {
    .header__ {
        background-size: contain;
        background: #0000008e;
    }
}