.finisher-header {
    position: relative;
}

.finisher-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.flag {
    box-shadow: -3px 4px 44px 1px rgba(204, 185, 82, 0.75);
    -webkit-box-shadow: -3px 4px 44px 1px rgba(204, 185, 82, 0.75);
    -moz-box-shadow: -3px 4px 44px 1px rgba(204, 185, 82, 0.75);
}

.groups_ {
    margin-bottom: 0 !important;
}

.groups_ li {
    margin-right: -10px
}

.groups_ li img {

    width: 38px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    padding: 2px 5px;
    border: 1px solid #756f6f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



@media (max-width: 768px) {
    .finisher-header {
        height: 100vh;
        width: 100vw;
    }

    .finisher-header::before {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .groups_ li {
        position: absolute;

    }

    .groups_ li img {

        padding: 1px 3px;
    }

    .groups_ li:first-of-type {
        left: 55px;
    }

    .groups_ li:nth-of-type(2) {
        left: 85px;
    }

    .groups_ li:nth-of-type(3) {
        left: 115px;
    }

    .groups_ li:last-of-type {
        left: 145px;
    }
}

.ant-drawer-content {
    color: #000000 !important;
    background-color: #eecd53 !important;
}

.ant-drawer-content a {
    color: #ffff !important;
}

.rfm-marquee-container {
    background-color: #171717;
    height: 300px;
}

.logo-marquee .rfm-child img {
    width: 100px !important;
    margin: 0 50px;
}

.features-marquee {
    overflow: hidden;
}

.features-marquee .rfm-child img {
    height: 200px;
    width: 350px !important;
    object-fit: cover;
    margin: 0 5px;
}

/* Start Features */


.features .box_one {
    min-width: 70%;
}

.features .box_two {
    min-width: 30%;
}

@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .features .box_one {
        min-width: 100%;
    }

    .features .box_two {
        min-width: 100%;
    }

}

/* End Features */
@media (max-width: 768px) {
    .loader {
        width: 200px !important;
        height: 200px !important;

        &::before {
            inset: 20px !important;
        }
    }

}

body[dir='rtl'] .EN {
    display: none;
}

body[dir='rtl'] .AR {
    display: block;
}

body[dir='ltr'] .EN {
    display: block;
}

body[dir='ltr'] .AR {
    display: none;
}

.stratgy_card {
    width: 500px;
    height: 250px;
    background: radial-gradient(ellipse at center, #eecc5393 0%, rgba(153, 51, 153, 0) 70%);
}

@media (max-width: 768px) {
    .stratgy_card {
        width: 400px;
        height: 200px;
    }

}

.why_box {
    background: linear-gradient(to bottom, #b9940b73 0%, rgba(153, 51, 153, 0) 100%);
}