@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind utilities;

@font-face {
    font-family: 'cairo';
    src: url(./assets/fonts/Cairo-VariableFont_slnt\,wght.ttf) format('truetype');
}

@font-face {
    font-family: 'unbounded';
    src: url(./assets/fonts/Unbounded-VariableFont_wght.ttf) format('truetype');
}

body[dir='rtl'] {
    font-family: 'cairo sans';
}

body[dir='ltr'] {
    font-family: 'unbounded', sans-serif;
}

body[dir=rtl] .t_btn {
    font-family: 'Courier New', Courier, monospace !important;
    left: -1px;
    border-color: #eecd53 #eecd53 #eecd53 transparent;

    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

body[dir=ltr] .t_btn {
    right: -1px;
    border-color: #eecd53 transparent #eecd53 #eecd53;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.t_btn {
    top: 50%;
    color: black;
    background-color: #eecd53;
    border-radius: 5px 0 0 5px;
    padding: 1rem 0.5rem;
    border: 1px solid;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

body[dir=rtl] .t_btn {
    font-family: 'Courier New', Courier, monospace !important;
    left: -1px;
    border-color: #eecd53 #eecd53 #eecd53 transparent;

    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

body[dir=ltr] .t_btn {
    right: -1px;
    border-color: #eecd53 transparent #eecd53 #eecd53;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.t_btn {
    top: 50%;
    color: black;
    background-color: #eecd53;
    border-radius: 5px 0 0 5px;
    padding: 0.4rem 0.3rem;
    border: 1px solid;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}


body {
    background-color: #171717;
    background-image: url('./assets/bg-dots.png');
    background-repeat: repeat;
    background-size: 4%;
    z-index: -1;
    position: relative;
}

@media (max-width: 768px) {
    body {
        background-size: 20%;
    }

}

.learn_btn {
    position: relative;

    svg {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        margin-left: 5px;
    }

    &::before {
        content: '';
        position: absolute;
        background-color: #eecd53;
        width: 110px;
        height: 2%;
        bottom: -10px;
        left: 0;
    }

    &:hover {
        svg {
            margin-left: 10px;
            color: #eecd53;
        }
    }
}

body[dir=rtl] .learn_btn {
    svg {
        transform: rotateY(180deg);
        margin-left: 0;
        margin-right: 5px;
    }

    &:hover {
        svg {
            margin-right: 10px;
        }
    }

    &::before {
        right: 0;
        width: 100px;
    }
}

.lotto_animation {
    position: absolute;
    top: 25%;
    left: -50%;
    width: 800px;
    height: auto;
    z-index: -1;
}

.contact_container {
    background: linear-gradient(to bottom left,
            #171717 20%,
            /* فوق */
            #282827 40%,

            /* استمرار اللون التاني */
            #171717 60%
            /* تحت */
        );
    border-top: 1px solid #282827;
    position: relative;
}

.framer-say9z1 {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100vh;
    justify-content: center;
    left: calc(50.00000000000002% - 100% / 2);
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: calc(50.00000000000002% - 100vh / 2);
    width: 100%;
    z-index: 0;
}

.framer-19uo04l {
    background: radial-gradient(43.2% 25% at 50% 18.8%, rgba(84, 84, 84, 0) 0%, var(--token-2f560859-5998-4075-847c-9f666c5cfc0b, rgb(10, 10, 10)) 100%);
    flex: none;
    height: 100%;
    left: calc(50.00000000000002% - 100% / 2);
    overflow: hidden;
    position: absolute;
    top: calc(50.00000000000002% - 100% / 2);
    width: 100%;
    z-index: 1;
}

.framer-1he43a3-container {
    flex: none;
    height: 100%;
    left: calc(50.00000000000002% - 100% / 2);
    position: relative;
    top: calc(50.00000000000002% - 100% / 2);
    width: 100%;
    z-index: -1;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.accordion {
    h3 {
        margin-bottom: 0;
    }

    .arc {
        width: calc(50% - 6px);


    }

}

@media (max-width: 768px) {
    .arc {
        width: 100% !important;
    }
}

.sec_bg {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('./assets/bg-dots.png');
        position: absolute;
        z-index: 5;
        background-size: 4%;
    }
}

.colgen {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('./assets/bg-dots.png');
        position: absolute;
        z-index: 5;
        background-size: 4%;
    }

    @media (max-width:768px) {
        &::before {
            background-size: 20%;
        }
    }
}

.learn_btn_tech {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px 6px;
    background: transparent;
    border: solid 1px #493e3e;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.learn_btn_tech svg {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sub_box:hover .learn_btn_tech svg {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    color: white;
}

.sub_box:hover .learn_btn_tech {
    background: #006eb4;

}

.socials {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}

.socials svg {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    width: 18px;
    height: 18px;
}

.socials:hover {
    background-color: #eecd53;
    border-color: #eecd53;
}

.socials:hover svg {
    color: #171717;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}